.venv/

*.pyc
*.pyo
__pycache__/

node_modules/
/dist/
npm-debug.log
yarn-error.log

*.log
*.pot
*.pyc
*.pyo
__pycache__/
local_settings.py

.env

Dockerfile
.dockerignore

/migrations/

nginx/

.dockerignore
tests/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

*.git
.gitignore
*.gitattributes
.gitmodules

.deploy/
.deployignore

*.heroku/